{% extends "base.html" %}

{% block content %}

<div class="content pure-u-1 pure-u-md-3-4">
      <div>
        <div class="posts">
	  <center><h1>Information about {{city}}</h1></center>
          <h1 class="content-subhead">Information</h1>
	  {% if wikiError %}
	  Wikipedia data not found for city
	  {% else %}
	  {% for i in wiki %}
	  {{i}}
	  {% endfor %}
	  {% endif %}

	  <br><br><br>

	  <h1 class="content-subhead">Weather</h1>
	  {% if weatherError %}
	  Weather data not found for city
	  {% else %}
	  {% for u in weather %}
	  {{u}}<br><br>
	  {% endfor %}
	  {% endif %}

	  <br><br><br>

	  <h1 class="content-subhead">Images</h1>
	  {% if imageError %}
	  Images not found for city
	  {% else %}
	  {% for i in images %}
	  <img src={{i}} width="50%">
	  <br>
	  {% endfor %}
	  {% endif %}
	  <br><br><br>


        </div>
      </div>

{% endblock content %}
